{% extends "layout/layout.twig" %}
{% from "macros.twig" import render_classes, render_traits, breadcrumbs, namespace_link, class_link, property_link, method_link, hint_link, source_link, method_source_link, deprecated, deprecations, internals, categories, todo, todos, class_category_name %}
{% block title %}{{ class|raw }} | {{ parent() }}{% endblock %}
{% block body_class 'class' %}
{% block page_id 'class:' ~ (class.name|replace({'\\': '_'})) %}

{% block below_menu %}
    <div class="uk-container uk-background-muted">
        <ul class="uk-breadcrumb">
            <li><span class="uk-label">{{ class_category_name(class.categoryId) }}</span></li>
            {{ breadcrumbs(class.namespace) -}}
            <li><span>{{ class.shortname|raw }}</span></li>
        </ul>
    </div>
{% endblock %}

{% block page_content %}
    <div class="uk-container uk-container-expand">
        <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
            <div class="uk-width-1-1@l">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">
                            {{- class.name|split('\\')|last|raw -}}
                            {{- deprecated(class) }}
                            {% if class.isReadOnly() %}<small><span class="uk-label uk-label-primary">{% trans 'read-only' %}</span></small>{% endif -%}
                        </h3>
                        <p class="uk-margin-remove-top">
                            {% if class.hasSince() %}
                                <i>{{ 'Since:'|trans }} {{ class.getSince() }}</i>
                                <br>
                            {% endif %}
                            {{ block('class_signature') }}
                        </p>
                    </div>
                    <div class="uk-card-body">
                        {{ categories(class) }}
                        {{ deprecations(class) }}
                        {{ internals(class) }}

                        {% if class.shortdesc or class.longdesc %}
                            <div class="az-description uk-background-muted">
                                {% if class.shortdesc -%}
                                    <p>{{ class.shortdesc|desc(class)|md_to_html }}</p>
                                {%- endif %}
                                {% if class.longdesc -%}
                                    <p>{{ class.longdesc|desc(class)|md_to_html }}</p>
                                {%- endif %}
                            </div>
                        {% endif %}
                        {{- todos(class) -}}
                    </div>
                    {% if classTraits %}
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{% trans 'Traits' %}</h3>
                    </div>
                    <div class="uk-card-body">
                        {{ render_traits(classTraits) }}
                    </div>
                    {% endif %}

                    {% if constants %}
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{% trans 'Constants' %}</h3>
                    </div>
                    <div class="uk-card-body">
                        {{- block('constants') }}
                    </div>
                    {% endif %}

                    {% if properties %}
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">{% trans 'Properties' %}</h3>
                    </div>
                    <div class="uk-card-body">
                        {{- block('properties') }}
                    </div>
                    {% endif %}
                    {% if methods %}
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">{% trans 'Methods' %}</h3>
                        </div>
                        <div class="uk-card-body">
                            {{- block('methods') }}
                        </div>
                        <div class="uk-card-header">
                            <h3 class="uk-card-title">{% trans 'Details' %}</h3>
                        </div>
                        <div class="uk-card-body">
                            {{ block('methods_details') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block class_signature -%}
    {% if class.final %}final {% endif %}
    {% if not class.interface and class.abstract %}abstract {% endif %}
    {{ class_category_name(class.getCategoryId()) }}
    <b>{{ class.shortname|raw }}</b>
    {%- if class.parent %}
        {% trans 'extends' %} {{ class_link(class.parent) }}
    {%- endif %}
    {%- if class.interfaces|length > 0 %}
        {% trans 'implements' %}
        {% for interface in class.interfaces %}
            {{- class_link(interface) }}
            {%- if not loop.last %}, {% endif %}
        {%- endfor %}
    {%- endif %}
    {%- if class.hasMixins %}
        {% for mixin in class.getMixins() %}
            <i>mixin</i> {{ class_link(mixin.class) }}
        {% endfor %}
    {%- endif %}
    {{- source_link(project, class) }}
{% endblock %}

{% block method_signature -%}
    {% if method.final %}final{% endif %}
    {% if method.abstract %}abstract{% endif %}
    {% if method.static %}static{% endif %}
    {% if method.protected %}protected{% endif %}
    {% if method.private %}private{% endif %}
    {{ hint_link(method.hint, method.isIntersectionType()) }}
    <b>{{ method.name|raw }}</b>{{ block('method_parameters_signature') }}
{%- endblock %}

{% block method_parameters_signature -%}
    {%- from "macros.twig" import method_parameters_signature -%}
    {{ method_parameters_signature(method) }}
    {{ deprecated(method) }}
{%- endblock %}

{% block constants %}
    <table class="uk-table uk-table-divider">
        {% for constant in constants %}
            <tr>
                <td>
                    {# Keep in order with an else if, it can be set by typehints and by annotations #}
                    {# More restricted wins #}
                    {% if constant.isPrivate() %}<code>private</code>
                    {% elseif constant.isProtected() %}<code>protected</code> {% endif %}
                    {% if constant.isInternal() %}<span class="uk-label uk-label-warning">{% trans 'internal' %}</span> {% endif %}
                    {% if constant.isDeprecated() %}<span class="uk-label uk-label-danger">{% trans 'deprecated' %}</span> {% endif %}
                    {{ constant.name|raw }}
                    {% if constant.hasSince() %}
                        <i>{{ 'Since:'|trans }} {{ constant.getSince() }}</i>
                        <br>
                    {% endif %}
                </td>
                <td class="last">
                    <p><em>{{ constant.shortdesc|desc(class)|md_to_html }}</em></p>
                    <p>{{ constant.longdesc|desc(class)|md_to_html }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block properties %}
    <table class="uk-table uk-table-divider">
        {% for property in properties %}
            <tr>
                <td class="type" id="property_{{ property.name|raw }}">
                    {% if property.static %}<code>static</code>&nbsp;{% endif %}
                    {% if property.isProtected() %}<code>protected</code> {% endif %}
                    {% if property.isPrivate() %}<code>private</code> {% endif %}
                    {% if property.isInternal() %}<span class="uk-label uk-label-warning">{% trans 'internal' %}</span>{% endif %}
                    {% if property.isDeprecated() %}<span class="uk-label uk-label-danger">{% trans 'deprecated' %}</span>{% endif %}
                    {% if property.isReadOnly() %}<span class="uk-label uk-label-primary">{% trans 'read-only' %}</span>{% endif %}
                    {% if property.isWriteOnly() %}<span class="uk-label uk-label-success">{% trans 'write-only' %}</span>{% endif %}

                    {% if property.hasSince() %}
                        <i>{{ 'Since:'|trans }} {{ property.getSince() }}</i>
                        <br>
                    {% endif %}
                </td>
                <td>{{ hint_link(property.hint, property.isIntersectionType()) }}</td>
                <td>${{ property.name|raw }}</td>
                <td class="last">{{ property.shortdesc|desc(class)|md_to_html }}</td>
                <td>
                    {%- if property.class is not same as(class) -%}
                        <small>{{ 'from&nbsp;%s'|trans|format(property_link(property, false, true))|raw }}</small>
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block methods %}
        <table class="uk-table uk-table-divider uk-table-justify">
        {% for method in methods %}
            <tr>
                <td>
                    {% if method.static %}<code>static</code>&nbsp;{% endif %}
                    {% if method.isProtected() %}<code>protected</code> {% endif %}
                    {% if method.isPrivate() %}<code>private</code> {% endif %}
                    {{ hint_link(method.hint, method.isIntersectionType()) }}
                </td>
                <td>
                    <a href="#method_{{ method.name|raw }}">{{ method.name|raw }}</a>{{ block('method_parameters_signature') }}
                    {% if not method.shortdesc %}
                        <p class="no-description">{% trans 'No description' %}</p>
                    {% else %}
                        <p>{{ method.shortdesc|desc(class)|md_to_html }}</p>
                    {%- endif %}
                </td>
                <td>
                    {%- if method.class is not same as(class) -%}
                        <small>{{ 'from&nbsp;%s'|trans|format(method_link(method, false, true))|raw }}</small>
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}

{% block methods_details %}
    <div id="az-method-details">
        {% for method in methods %}
            <div class="az-method-item">
                {{ block('method') }}
                <a href="#" uk-totop uk-scroll title="{{ 'To top'|trans }}"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block method %}
    <div id="method_{{ method.name|raw }}" class="az-method-item-header">
        <div class="az-location">{% if method.class is not same as(class) %}{{ 'in %s'|trans|format(method_link(method, false, true))|raw }} {% endif %}{{ method_source_link(method) }}</div>
        <p class="az-code">{{ block('method_signature') }}</p>
    </div>
    <div class="details">
        {%- if method.hasSince() -%}
            <i>{{ 'Since:'|trans }} {{ method.getSince() }}</i>
            <br>
        {%- endif -%}
        {{ categories(method) }}
        {{ deprecations(method) }}
        {{ internals(method) }}

        <div class="az-method-description">
            {% if not method.shortdesc and not method.longdesc %}
                <p class="no-description">{% trans 'No description' %}</p>
            {% else %}
                {% if method.shortdesc -%}
                    <p>{{ method.shortdesc|desc(class)|md_to_html }}</p>
                {%- endif %}
                {% if method.longdesc -%}
                    <p>{{ method.longdesc|desc(class)|md_to_html }}</p>
                {%- endif %}
            {%- endif %}
            {{- todos(method) -}}
        </div>
        <div class="tags">
            {% if method.parameters %}
                {{ block('parameters') }}
            {% endif %}

            {% if method.hintDesc or method.hint %}
                {{ block('return') }}
            {% endif %}

            {% if method.exceptions %}
                {{ block('exceptions') }}
            {% endif %}

            {% if method.tags('see') %}
                {{ block('see') }}
            {% endif %}

            {% if method.hasExamples() %}
                {{ block('examples') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block parameters %}
    <table class="uk-table uk-table-justify uk-table-divider">
        <caption>{% trans 'Parameters' %}</caption>
        {% for parameter in method.parameters %}
            <tr>
                <td>{% if parameter.hint %}{{ hint_link(parameter.hint, parameter.isIntersectionType()) }}{% endif %}</td>
                <td>{%- if parameter.variadic %}...{% endif %}${{ parameter.name|raw }}</td>
                <td>{{ parameter.shortdesc|desc(class)|md_to_html }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block return %}
    <table class="uk-table uk-table-justify uk-table-divider">
        <caption>{% trans 'Return Value' %}</caption>
        <tr>
            <td>{{ hint_link(method.hint, method.isIntersectionType()) }}</td>
            <td>{{ method.hintDesc|desc(class)|md_to_html }}</td>
        </tr>
    </table>
{% endblock %}

{% block exceptions %}
    <table class="uk-table uk-table-justify uk-table-divider">
        <caption>{% trans 'Exceptions' %}</caption>
        {% for exception in method.exceptions %}
            <tr>
                <td>{{ class_link(exception[0]) }}</td>
                <td>{{ exception[1]|desc(class)|md_to_html }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block see %}
    <table class="uk-table uk-table-justify uk-table-divider">
        <caption>{% trans 'See also' %}</caption>
        {% for see in method.getSee() %}
            <tr>
                <td>
                    {% if see[4] %}
                        <a href="{{see[4]}}">{{see[4]}}</a>
                    {% elseif see[3] %}
                        {{ method_link(see[3], false, false) }}
                    {% elseif see[2] %}
                        {{ class_link(see[2]) }}
                    {% else %}
                        {{ see[0]|raw }}
                    {% endif %}
                </td>
                <td>{{ see[1]|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block examples %}
    <table class="table table-condensed">
        <caption>{% trans 'Examples' %}</caption>
        {% for example in method.getExamples() %}
            <tr>
                <td><pre class="examples">
                    {{- example|join(' ') -}}
                </pre></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
